body{
    margin: 0;
}
.notif{
    border: 2px solid #555555;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 50vw;
    transform: translate(50%);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.slide-up{
    animation: slideUp .8s ease-in forwards;
}

@keyframes slideUp{
    to{
        bottom: 0;
    }
}

.slide-down{
    animation: slideDown .8s ease-in forwards;
}

@keyframes slideDown{
    to{
        bottom: -100px;
    }
}