@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

body{
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}
.notif{
    background-color: #0534ff;
    position: fixed;
    bottom: 0;
    height: auto;
    width: 30vw;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    color: white;
}
.close-btn{
    margin-top: 15px;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 50px;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

button:focus {
    outline: none;
}
.slide-up{
    animation: slideUp .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes slideUp{
    to{
        bottom: 0;
    }
}

.slide-down{
    animation: slideDown .6s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

@keyframes slideDown{
    to{
        bottom: -170px;
    }
}